{% extends 'admin_layout.html.twig' %}

{% block content %}
    <h1>Post Comments</h1>
    <div class="container-fluid">
        <div class="row">
            {% for comment in comments %}
                <div class="card col-12 mt-3 mr-2 text-white bg-dark mb-3">
                    <div class="card-header">ID: {{ comment.id }}</div>
                    <div class="card-body">
                        <p class="card-text">Message: {{ comment.content }}</p>
                        <p class="card-text">Date: {{ comment.current_date|date("m/d/Y") }}</p>
                        <a href="/Admin/deleteComment/{{ comment.id }}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}