<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/admin_style.css">
    <link rel="icon" href="/assets/images/favicon.png">
</head>
<body>
<main>
    <section class="row">
        <article class="col-md-3 article-left">
            <i class="fa fab fa-reddit-alien fa-5x" id="alien" aria-hidden="true"></i>
            <h2 class="text-center title">Admin Dashboard</h2>
            <ul class="fa-ul">
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="/Admin/index">Home</a></li>
                <li><i class="fa fa-user-o" aria-hidden="true"></i><a href="/Admin/users">Users</a></li>
                <li><i class="fa fa-comments" aria-hidden="true"></i><a href="/Admin/posts">Posts</a></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="/Admin/support">Support</a></li>
                <li><i class="fa fa-sign-out" aria-hidden="true"></i><a href="/Admin/logout">Logout</a></li>
            </ul>
        </article>
        <article class="col-md-9 article-right">
            {% block content %}{% endblock %}
        </article>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>